<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <title>MiniML By Shahar</title>
</head>
<body>
    <h1>Placeholder</h1>
    <div class="ml_container">
        <div class="operations">
            <form target="#" id="color_pick" >
            
            
                <label for="color_stats">Write colors from 0 to 255</label>
                <input id="color_stats_r" onchange="grabRedColor()" placeholder="red amount" class="color_definer" type="text" name="" >
                <input id="color_stats_g" placeholder="green amount" class="color_definer" type="text" name="" >
                <input id="color_stats_b" placeholder="blue amount" class="color_definer" type="text" name="" >
                <input type="text" id="color_name" placeholder="Color_name" name="" id="">
                <button class="buttons" id="startResearch">Start Research</button>
                <button class="buttons" id="identify">Identify color</button>  
                <button class="buttons" id="debug_button">Debug</button>

            </form>
            

        </div>
        <div class="results">
            <div id="color_box">
                
            </div>
                <div>
                <h5>Prediction : </h1>
                <h5>Training Status: </h1>
            </div>
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/main.js') }}"> </script> 
</body>
</html>